@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>i'm Uzair Safdar</b><br />
    <b>Software Engineer</b><br />
    <b>Batch 2017</b> <br />
    <abbr title="Phone"><b>P:</b></abbr>
    <b>+923321621021</b>
</address>

<address>
    <strong>Marketing:</strong> <a href="https://www.facebook.com/uzair.safdar.90"target="_blank">https://www.facebook.com/uzair.safdar.90</a>
</address>
<address>
    <strong>Github:</strong> <a href="https://github.com/Ozair-eng"target="_blank">https://github.com/Ozair-eng</a>
</address>